<div class="rentals">
    <label>
        <span>Where would you like to stay?</span>
        <Input @value={{this.query}} class="light"></Input>
    </label>

    <ul class="results">
        <Rentals::filter @query={{this.query}} @rentals={{@rentals}} as |results|>
            {{#each results as |rental|}}
                <li>
                    <Rental @rental={{rental}} />
                </li>
            {{/each}}
        </Rentals::filter>
    </ul>
</div>